/* clearfix */
.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
    content: " ";
    display: table;
}

.container:after,
.group:after,
.menu:after {
    clear: both;
}

.container,
.group,
.menu {
    *zoom: 1;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}