/* general */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body { height: 100%; }

body {
	color: #323232;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

a { text-decoration: none; }

strong { font-weight: 600; }

.menu {
	list-style: none;
	padding-left: 0;
	margin: 0;

	li {
		float: left;
	}
}
.sr-only {
	display: none;
}

.fa,
.icon {
	vertical-align: middle;
}

.section-title {
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	margin: 30px 0;
}